*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 60px;
}


.title{
    font-size : 40px;
    margin-left :40%; 
}

input{
    font-size: 1.2rem;
    color:gray;
    align-content :center;
    width:100%
}

.card-grid{
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    align-content: center;
    border: 1px solid black;
    border-radius: 5px;
    overflow:hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}

.card p{
padding:5px;
text-align: center;
}

.card img{
    max-height:200px;
}